/armstrong.cpp
/armstrong.exe
/binary_to_decimal.cpp
/binary_to_decimal.exe
/calculator.cpp
/calculator.exe
/codeAlpha
/complement_to_base_integer.cpp
/complement_to_base_integer.exe
/counting.cpp
/counting.exe
/decimal_to_binary.cpp
/decimal_to_binary.exe
/double_pointer.cpp
/double_pointer.exe
/even_odd.cpp
/even_odd.exe
/Exponential.cpp
/Exponential.exe
/fibonacci.cpp
/fibonacci.exe
/function.cpp
/function_and_pointer.cpp
/function_and_pointer.exe
/gcd.cpp
/gcd.exe
/Linked List
/nCr.cpp
/nCr.exe
/nPr.cpp
/nPr.exe
/power_of_Integer.cpp
/power_of_Integer.exe
/power_of_two.cpp
/power_of_two.exe
/prime.cpp
/prime.exe
/reverse_integer.cpp
/reverse_integer.exe
/switch.cpp
/switch.exe
/task2.cpp
/task2.exe
/tempCodeRunnerFile.cpp
/zig_zag.cpp